langchain==0.1.16
langchain-core==0.1.53
langchain-community==0.0.32

streamlit
python-dotenv
pypdf

chromadb==0.5.20
langchain-chroma==0.1.4

langchain-groq==0.1.5
groq
langchain_huggingface
sentence-transformers

fastapi
uvicorn
